.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
  padding: 25px;
}
.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
  font-family: serif;
  font-size: 30px;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgb(200 217 234) !important;
  padding: 25px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: aquamarine; */
  background-color: rgb(134, 134, 134);
}
*, *::before, *::after {
  box-sizing: border-box;
}
.gamut-glpvwy-LayoutGrid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  display: grid;
  width: 100%;
  -ms-grid-column-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  column-gap: min(calc(100% / 11), 1.5rem);
  margin-top: 15px;
}
.gamut-87ddz7-StyledColumn {
  grid-template-columns: minmax(0px, 1fr);
  display: grid;
  grid-column-end: span 3;
}
.gamut-14mxqwy-VariableProvider-HeaderBackground {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  box-shadow: inset 0 0 0 1px var(--color-white);
  border-radius: 4px 4px 0px 0px;
  color: white;
  background-color: #8ed686cc;
}
button.btn.btn-primary.btn-sm {
  margin-right: 20px;
}
.adddd {
  padding-left: 75px;
  padding-right: 75px;
  width: 750px;
}
div#error1 {
  margin-bottom: 1rem;
  color: #ff7272;
  font-weight: 500;
}

button#ert {
  float: right;
}
.mb-3 {
  margin-bottom: 1rem !important;
  margin-top: 1rem;
}
button.btn.btn-primary.btn-sm.ddff {
  margin-right: 20px;
  padding: 10px;
  background-color: #8ccaff;
  border-color: black;
  color: #000000;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 15px;
}
li.list-group-item.fghj {
  font-weight: 700;
}
span {
  font-weight: 500;
  color: #76bfec;
}

/* .gamut-1jn300j-FlexBox {
  display: flex;
  width: auto;
  height: 302px;
} */
/* .gamut-glpvwy-LayoutGrid {
  -ms-grid-columns: repeat(12, minmax(0, 1fr));
  grid-template-columns: repeat(12, minmax(0, 1fr));
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-column-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  -webkit-column-gap: min(calc(100% / 11), 1.5rem);
  column-gap: min(calc(100% / 11), 1.5rem);
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
.gamut-87ddz7-StyledColumn {
  grid-template-columns: minmax(0px, 1fr);
  display: grid;
  grid-column-end: span 3;
}
.gamut-1jn300j-FlexBox {
  display: flex;
  width: auto;
  height: 302px;
}
.gamut-14mxqwy-VariableProvider-HeaderBackground {
  --color-background-current: var(--color-green-100);
  color: var(--color-text);
  background-color: yellowgreen;
  color: black;
  background-color: var(--color-background-current);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  box-shadow: inset 0 0 0 1px var(--color-white);
  border-radius: 4px 4px 0px 0px;
}
.gamut-x5l22h-StyledText {
  display: inline-block;
  margin: 0px;
  font-family: Suisse, Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
}
.gamut-k2gb9h-GridBox {
  display: grid;
  padding: 0.25rem 0.75rem;
  height: 100%;
  grid-auto-flow: column;
  background-color: white;
}
.gamut-1w4xp80-FlexBox {
  display: flex;
  text-align: left;
  flex-direction: column;
}
.gamut-19fjvr7-StyledText {
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.25rem;
  margin: 0px;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}
.gamut-3yj0pq-StyledText {
  text-overflow: ellipsis;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0px 0px 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.gamut-1qae8vm-Box {
  margin-top: auto;
}
.gamut-1w8s615-Box {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 0px;
  position: relative;
}
svg:not(:root) {
  overflow: hidden;
}
.gamut-186jezv-StyledSvg-DottedLine {
  width: 100%;
  margin-top: -1px;
  display: flex;
  height: 1px;
  position: absolute;
}
.gamut-13kek28-FlexBox {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.gamut-jniw0z-FlexBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gamut-3eiir9-FlexBox {
  display: flex;
  padding-right: 0.25rem;
}
svg:not(:root) {
  overflow: hidden;
}
.gamut-sd6ku5-Svg {
  width: 16px;
  height: 16px;
}
.gamut-1f5xczp-StyledText {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0px;
  white-space: nowrap;
  padding-left: 0.25rem;
}
.gamut-1f5xczp-StyledText {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0px;
  white-space: nowrap;
  padding-left: 0.25rem;
}
b, strong {
  font-weight: 700;
}
.gamut-a9a7ya-Box {
  padding-left: 4rem;
  padding-right: 4rem;
  display: none;
  -webkit-box-align: center;
  align-items: center;
}
.gamut-1kou4r5-Image-Box {
  width: 100px;
  height: 100px;
}
img {
  vertical-align: middle;
  border-style: none;
} */
